.button__add {
  width: 150px;
  border: none;
  cursor: pointer;
}

.button__add__column {
  margin-left: 30px;
  width: 150px;
  border: none;
  cursor: pointer;
}

.button__submit {
  width: 75px;
  border: none;
  cursor: pointer;
}
