.container {
  padding: 10px;
  border-radius: 10px;
  height: 500px;
  width: 190px;
  min-width: 150px;
  margin-left: 30px;
  background: #8b8b8b;
  opacity: 0.8;
  overflow-y: auto;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}
