.card__container {
  cursor: move;
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 2px;
  background: #cccccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__title {
    width: 80%;
  }
  &__editButton {
  }
}
